.todoList {
  list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
}

.todo {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #0000ff;
  border-radius: 8px;
  box-shadow: 10px 5px 5px gray;
}

.todo a {
  text-decoration: none;
}

.title {
  font-size: 1.25rem;
  font-family: serif;
  font-weight: bold;
  color: white;
  margin: 0;
}

.contents {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.5rem;
  font-style: italic;
  color: white;
  margin: 1rem 0 0 0;
}
